
@keyframes rotate {
    from{
      /* transform: rotate(0deg); */
      opacity: 0;

    }to{
        /* color: red; */
        /* transform: rotate(120deg); */
        opacity: 1;
    }
}
@keyframes highlighter {
    0%{
        color: black;
        /* font-size: 50px; */
    }
    5%{
        color: red;
        /* font-size: 20px; */
    }
}


